{% assign header_title = colonial_page-header %}

<div class="header__custom colonial--page-header">
	<div class="wrapper wrapper--margins">
		<h2>THE COLONIAL ESTATE</h2>
		<div class="colonial--header-nav__container text-center">
			<ul class="colonial--header-nav">
				{% for link in linklists.secondary-header.links %}
					<li {% if link.active %}class="active"{% endif %}>
			            <a href="{{ link.url }}">
			            	{{ link.title }}
			            </a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

