{% if template.name == 'article' %}

  {% capture share_link %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture share_title %}{{ article.title | url_param_escape }}{% endcapture %}
  {% if article.image %}
    {% capture share_img %}{{ article.image.src | img_url: '1024x1024' }}{% endcapture %}
  {% endif %}

{% elsif template.name == 'product' %}

  {% capture share_link %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture share_title %}{{ product.title | url_param_escape }}{% endcapture %}
  {% capture share_img %}{{ product.featured_image | product_img_url: '1024x1024' }}{% endcapture %}

{% elsif template.name == 'password' %}

  {% capture share_link %}{{ shop.url }}{% endcapture %}
  {% capture share_title %}{% unless shop.metafields.global.description_tag == blank %}{{ shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
  {% assign share_img = '' %}

{% endif %}

<ul class="page__sharing">

  <li>
    <a class="share-on-facebook" target="_blank" href="//www.facebook.com/sharer.php?u={{ share_link }}">
      <div>
        <i class="fa fa-facebook-f"></i>
        <span class="share-text">FACEBOOK</span>
      </div>
    </a>
  </li>

  <li>
    <a class="share-on-twitter" target="_blank" href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}">
      <div>
        <i class="fa fa-twitter"></i>
        <span class="share-text">TWITTER</span>
      </div>
    </a>
  </li>

  <li>
    <a class="share-on-google" target="_blank" href="//plus.google.com/share?url={{ share_link }}">
      <div>
        <img src="{{ 'gplus-logo.png' | asset_url  }}" />
        <span class="share-text">GOOGLE</span>
      </div>
    </a>
  </li>

</ul>
