<div class="index-section home-section colonial--big-header" data-section-id="{{ section.id }}" data-section-type="home-big-header">
	<div class="wrapper wrapper--margins">
		<img src="{{ 'colonial-logo.svg' | asset_url }}">
		<div class="colonial--header-nav__container text-center">
			<ul class="colonial--header-nav">
				{% for link in linklists.secondary-header.links %}
					<li>
			            <a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>
			            	{{ link.title }}
			            </a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="colonial--header__subheader-text text-center">
			<h2>The Colonial Mark of Excellence</h2>
			<hr>
			<h3>To produce wines of outstanding stature to set them apart from all the rest!</h3>
		</div>
		<div class="colonial--header__bottom-text grid-uniform ">
			<div class="grid__item one-half small--one-whole">
				<p>
					The Colonial Estate’s approach to making wines in Australia is old world influenced. This is what separates The Colonial Estate from other wineries around the world. No expense has been spared, with only the finest of winemaking practices being utilised. Our aim is to produce wines of outstanding stature to set them apart from all the rest!
				</p>
			</div>
			<div class="grid__item one-half small--one-whole">
				<p>
					The Colonial Estate is a range of limited-production Australian wines with an old world approach. The fruit is hand picked and carefully selected; the reds receive cold pre-maceration, fermentation, pressing and maceration on skins prior to ageing in French oak; whilst the whites get whole-bunch pressing, lees stirring and are fermented with naturally occurring yeasts.
				</p>
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Colonial Big Header",
		"presets": [
			{
				"name": "Colonial Big Header",
				"category": "Custom"
			}
		]
	}
{% endschema %}
