{% assign blog = blogs.News %}
  <div class="wrapper wrapper--margins text-center">
    <h2>Latest News</h2>
    <p>Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam,pellentesque faucibus.<br />
        Vestibulum gravida volutpat ipsum non ultrices.</p>
    <div class="owl-carousel owl-theme">
        {% for article in blog.articles %}
          <div class="blog-list__item">
          {% if article.image %}
            <figure class="article__img" style="background-image: url({{ article.image.src | img_url: '1024x1024' }})">
              {% comment %}<img src="{{ article.image.src | img_url: '1024x1024' }}" alt="{{ article.title }}" />{% endcomment %}
            </figure>
          {% endif %}              
        <div class="blog-article-header">
            <h2>{{ article.title }}</h2>
            <div class="blog-article-header-date">
              <span class="day">{{ article.published_at | date: '%d'}}</span>
              <span class="month">{{ article.published_at | date: '%b'}}</span>
            </div>          
          </div>

          <div class="blog-excerpt">
            {% comment %}{{ article.content | truncatewords: 18 }}{% endcomment %}
            {{ article.excerpt | truncatewords: 20 }}
          </div>
          <a href="{{ article.url }}" class="btn btn--small">Read More</a>

          {% if blog.comments_enabled? %}
            <p><a href="{{article.url}}#comments">{{ article.comments_count }} comments</a></p>
          {% endif %}
          </div>
      {% endfor %}
    </div>
  </div> 
{% schema %}
  {
    "name": "Home Blog List",
    "presets": [{
      "name": "Home Blog List",
      "category": "Custom"
    }]
  }
{% endschema %}
