$accentcolor: #761616;
$copperplate: 'Copperplate Gothic Std', sans-serif;
$montserrat: 'Montserrat', sans-serif;

.colonial-contact {
  background: url({{ 'diagonal-bg.jpg' | asset_url }});
  background-repeat: repeat;
}