$accentcolor: #761616;
$copperplate: 'Copperplate Gothic Std', sans-serif;
$montserrat: 'Montserrat', sans-serif;

.template-article {

  .article__content.rte {
    color: #666;
    font-family: $montserrat;

    h2 {
      color: #232323;
      font-family: $copperplate;
      font-size: 2.143em;
      margin-bottom: 32px;
    }

    hr {
      border: 2px solid $accentcolor;
      margin: 0 0 46px 0;
      width: 200px;
    }

    h3 {
      color: #333;
      font-size: 1.429em;
      font-weight: 600;
      margin-bottom: 40px;
      text-transform: uppercase;
    }

    p {
      font-size: 1.143em;
    }

    blockquote {
      border-left:0px;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      color: #333;
      font-size: 1.571em;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      padding: 40px;
      text-align: center;

      &:before {
        content:url({{ 'quote-top.png' | asset_url }});
        left: 22px;
        position: absolute;
      }

      &:after {
        content:url({{ 'quote-bottom.png' | asset_url }});
        right: 22px;
        position: absolute;
      }
    }
  }

  .article__sharing {
    float: left;
    width: 50%;

    ul.page__sharing {
      li {
        margin: 0px;

        a {
          color: #999;
          font-family: $montserrat;
          font-size: 0.786em;
          font-weight: 700;

          div {
            border: 1px solid #e6e6e6;
            padding: 13px 20px;

            .fa {
              font-size: 1.357em;
            }

            img {
              max-width: 1.357em;
            }

            .fa, img {
              margin-right: 9px;
              position: relative;
              bottom: -2px;
            }
          }

          &:hover {
            color: #333;
            div {
              border:2px solid $accentcolor;

              i {
                color: $accentcolor;
              }
            }
          }
        }
      }
    }
  }

  .article--bottom-tags {
    float: right;
    width: 50%;
    margin-top: 45px;
    text-align: right;

    img {
      margin-right: -9px;
    }

    ul {
      float: right;

      li {
        color: #999;
        display: inline-block;
        font-family: $montserrat;
        font-size: 0.857em;
        font-weight: 600;
        text-transform: uppercase;

        a {
          color: #999;

          &:hover {
            color: $accentcolor;
          }
        }
      }
    }
  }
}
