$accentcolor: #761616;
$copperplate: 'Copperplate Gothic Std', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Big header in index
.colonial--big-header {
  background: url({{ 'big--section_bg.jpg' | asset_url }});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  
  .wrapper.wrapper--margins {
    padding: 284px 0 0!important;
    
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 286px;
      max-width: 822px;
    }

    .colonial--header-nav__container {
      position: absolute;
      left: 0;
      right: 0;
      top: 876px;
      
      ul.colonial--header-nav {

        li {
          border-bottom: 2px solid #747069;
          display: inline-block;
          padding: 0 45px;
          margin-right: 30px;

          &:last-child {
            margin-right: 0px;
          }

          a {
            color: #FFF;
            font-family: $montserrat;
            font-size: 1.711em;
            font-weight: 700;
            text-transform: uppercase;

            &:hover, &:active {
              color: $accentcolor;
            }
          }
        }
      }
    }

    .colonial--header__subheader-text {
      padding-top: 96px;

      h2 {
          font-family: $copperplate;
          font-size: 2.857em;
          margin-bottom: 30px;
          margin-top: 100px;
      }

      hr {
        border: 2px solid $accentcolor;
        margin-bottom: 40px;
        width: 20px;
      }

      h3 {
          font-family: $montserrat;
          font-size: 2em;
          padding: 0 285px;
      }
    }

    .colonial--header__bottom-text {
      font-family: $montserrat;
      font-size: 1.214em;

      .grid__item {
        padding-top: 65px;
        padding-bottom: 82px;

        p {
          padding-right: 23px;
        }
      }
    }
  }
}

// Page header

.colonial--page-header {
  background: url({{ 'big--section_bg.jpg' | asset_url }});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper.wrapper--margins {
    padding: 284px 0;

    .colonial--header-nav__container {
      position: absolute;
      left: 0;
      right: 0;
    
      ul.colonial--header-nav {

        li {
          border-bottom: 2px solid #747069;
          display: inline-block;
          padding: 0 45px;
          margin-right: 30px;

          &.active {
            border-bottom: 2px solid $accentcolor;

            a {
              color: $accentcolor;
            }
          }

          &:last-child {
            margin-right: 0px;
          }

          a {
            color: #FFF;
            font-family: $montserrat;
            font-size: 1.711em;
            font-weight: 700;
            text-transform: uppercase;

            &:hover, &:active {
              color: $accentcolor;
            }
          }
        }
      }
    }
  }

}